node_modules/
.pnp/
.pnp.js

dist/
build/
.cache/
.next/
.svelte-kit/

coverage/

.env

logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

.idea/
.vscode/
.DS_Store
*.iml
*.xml

public/static/

venv/

__pycache__/
*.pyc
*.pyo
*.pyd

*.egg-info/

*.sqlite3
*.db

pip-log.txt
pip-delete-this-directory.txt

instance/

*.pid
docker-compose.override.yml